<div>
    <h1>About</h1>
    <section>
        <div>
            <h3>The Idea</h3>
            <br>
            <p>EcoLux stands as a beacon at the crossroads of fashion and sustainability, illuminating a path to a more conscious and elegant world of luxury. Our journey is fueled by a singular principle: fashion can exude opulence without compromising ethics.</p>
            <p>We meticulously curate an exquisite collection of garments and accessories from prestigious luxury brands that share our unwavering commitment to sustainable practices. Each piece is a testament to the harmonious marriage of aesthetics and responsibility.</p>
            <p>Our guiding philosophy extends beyond aesthetics; it's a call to action. By showcasing pioneering materials, artisanal craftsmanship, and eco-friendly processes, we aim to spark a global movement towards a more sustainable future. Our platform serves as an educational conduit, shedding light on the environmental and societal impact of the fashion industry. Here, we empower individuals to make choices that resonate with their values, fostering an empowered community of conscious consumers.</p>
            <p>Our mission is unequivocal: to fortify the era of fashion sustainability. We envision a world where style seamlessly intertwines with responsibility, where every purchase contributes to a collective stride towards a brighter tomorrow. EcoLux isn't just an online emporium; it's a testament to the transformative potential of fashion, a realm where trends align with values and where the pursuit of elegance harmonizes with ethics.</p>
        </div>
        <br>
        <div>
            <h3>Meet the team</h3>
            <br>
            <div>
                <img src="" alt="Paulina's pic">
                <h5>Paulina Gonzalez</h5>
                <p></p>
            </div>
            <div>
                <img src="" alt="André's pic">
                <h5>André Pinto</h5>
                <p></p>
            </div>
        </div>
        <br>
        <div>
            <h3>The Power of Your Voice at EcoLux</h3>
            <br>
            <p>At EcoLux, we believe that true transformation is a collaborative endeavor. Your engagement and opinions hold immense value as we navigate the landscape of sustainable luxury fashion.</p>
            <p>As a platform dedicated to redefining the norms of opulence and responsibility, your voice serves as a compass, guiding us toward a future where style and sustainability are inseparable. When you actively participate in discussions, share your thoughts, and provide feedback, you play an integral role in shaping the narrative of conscious fashion.</p>
            <p>Your engagement isn't just a gesture; it's a catalyst for change. By expressing your preferences, concerns, and ideas, you empower us to curate content and offerings that resonate with your values. Whether you're advocating for specific sustainable practices, celebrating brands that prioritize ethical craftsmanship, or exploring innovative approaches to fashion, your opinions fuel the evolution of EcoLux.</p>
            <p>We invite you to be an active participant in our mission. Your engagement fosters a vibrant community of like-minded individuals who are committed to driving positive change in the luxury fashion landscape. Together, we're creating a future where every purchase becomes a statement of elegance, ethics, and empowerment.</p>
            <p>Join us in shaping the narrative of sustainable luxury fashion at EcoLux. Your voice matters, and together, we're making a resounding impact. <a href="/signup">Join!</a>
            </p>
        </div>

    </section>
</div>