<div class="main-div">
    <div>
       <h2>Get in Touch with EcoLux Couture!</h2>
        <p>We're delighted to connect with you. Whether you have questions, suggestions, or simply want to share your thoughts, we're here to listen. Your feedback fuels our commitment to delivering an exceptional experience at EcoLux Couture.</p>
        <p>Feel free to reach out to us directly through the provided email address. We value your input and look forward to engaging in meaningful conversations that inspire a shared vision of sustainable luxury fashion.</p>
        <p>Thank you for joining us on this journey towards a more conscious and stylish future. Your voice matters, and we're excited to hear from you.</p> 
    </div>
    <div>
        <div>
            <h4>Name: Paulina Gonzalez</h4>
            <p>Email: ana_paulina28@hotmail.com</p>
            <p>LinkedIn: Doesn't trust big enterprises </p>
            <p>Github: <a href="https://github.com/anapaulina28" target="blank">Paulina's Git</a></p>
        </div>
        <div>
            <h4>Name: André Pinto</h4>
            <p>Email: andre.marpinto@gmail.com</p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/mpintoandre/" target="blank">André's LinkedIn</a></p>
            <p>Github: <a href="https://github.com/pinto-andre" target="blank">André's Git</a></p>
        </div>
    </div>
</div>
