<div class="main-div">
    <h2>Would you like to get involved in this fast paced world?</h2>
    <br>
    <section>
        <div>
            <h3>Fashion Revolution</h3>
            <br>
            <p>Fashion Revolution is an organization created in response to the Rana Plaza disaster in 2013. They strive to raise awareness about worker and environmental rights within the fashion industry and advocate for a global fashion industry that conserves and restores the environment and values people over growth and profit. Some of their key campaigns include Fashion Revolution Week; Good Clothes, Fair Pay; and Black Friday.</p>
            <p>Fashion Revolution Foundation is a registered charity in the UK. While they rely primarily on community funding, they were also sponsored by several organizations including the British Council, European Union, and Laudes Foundation this past year. Fashion Revolution USA secures all funding through the Social Good Fund (rating of 94/100 on Charity Navigator).</p>
            <div>
                <img src="/images/fashionrevolution.png" alt="">
            </div>
        </div>
        <br>
        <hr />
        <br>
        <div>
            <h3>Remake Our World</h3>
            <br>
            <p>Remake is a global advocacy organization that is fighting for fair pay and climate justice in the clothing industry. They aim to end poverty wages, unsafe working conditions, and gender-based violence in the garment industry. They primarily approach sustainable and ethical fashion through the lens of workers rights and believe that by paying garment workers a living wage, we can begin to reduce the social and environmental harm caused by the fashion industry. Some key campaigns include #PayUp, #VictoriasDirtySecret, The FABRIC Act, and International Accord.</p>
            <div>
                <img src="/images/remakelogo.jpg" alt="">
            </div>
        </div>
        <br>
        <hr />
        <br>
        <div>
            <h3>Clean Clothes Campaign</h3>
            <br>
            <p>Clean Clothes Campaign originally started as the Schlone Kleren Campaigne in the Netherlands in 1989 but has since expanded to be a global network consisting of 235 organizations operating in 45 different countries. They operate horizontally, with regional coalitions that move quickly to organize and effectively advocate for urgent concerns in specific geo-political regions. Some key campaigns include Good Clothes, Fair Pay; Ending Uyghur Forced Labor; and Pay Your Workers.</p>
            <div>
                <img src="/images/cleanclothes.jpg" alt="">
            </div>
        </div>
        <br>
        <hr />
        <br>
        <div>
            <h3>OXFAM</h3>
            <br>
            <p>This global organization fights inequity and strives to end poverty and injustice. While this doesn't specifically relate to sustainable fashion, we all know that economic justice, gender equality, and climate action must be approached with an intersectional lens. Equal rights and equal treatment must be attained on all fronts in order for everyone to thrive. Some key campaigns include Secondhand September; 2000 Steps For Climate Justice; and Fight Injustice, Beat Poverty.</p>
            <div>
                <img src="/images/oxfam.jpg" alt="">
            </div>
        </div>
        <br>
        <hr />
        <br>
        <div>
            <h3>Centre For Sustainable Fashion</h3>
            <br>
            <p>Sustainable fashion begins with design. The Centre For Sustainable Fashion is a university in London that is working from within to create change. Their curriculum questions and challenges the status quo and investigates existing systems within the fashion industry to transform it into one that recognizes ecological context and honors equity. Some ways in which they fight for sustainable fashion include research, knowledge exchange, policy advocacy, and of course, education.</p>
            <div>
                <img src="/images/sustainablefashion.jpeg" alt="">
            </div>
        </div>
        <br>
        <hr />
        <br>
    </section>
</div>