<br>
<div class="main-div">
    <section>
        <h2>Welcome to EcoLux Couture: Where Elegance Meets Ethics</h2>
        <p>Discover a world where luxury intertwines seamlessly with sustainability. At EcoLux Couture, embark on a journey beyond fashion norms. Our curated collection blends opulence and conscience, showcasing exquisite pieces crafted with ethical artistry.</p>
        <p>Explore fashion that's more than a statement—it's a commitment to a better future. Here, elegance finds purpose, where each choice resonates with a conscious and stylish existence.</p>
        <p>Join us in celebrating the union of aesthetics and ethics. Experience innovation, quality, and purpose converge in every piece. Whether you champion sustainable living or savor refined tastes, EcoLux Couture is your sanctuary of curated luxury.</p>
        <p>Remember, your choices echo beyond fabric; they resonate with a movement to redefine luxury and reshape the industry.</p>
        <h6>Here fashion embraces a higher purpose and elegance shines with conscience.</h6>
    </section>
</div>
