<div class="error-div">
    <h4>Too bad you're not a member, gender sorting is a members only feature.</h4>
    <br>
    <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDhmc2dxaHBjamJodjZtMjd1dmZmdG95anM3dTB4MHY1MHphazYyNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l2JdY4MYyJYUS6JLW/giphy.gif" alt="">
    <br>
    <p>(Don't tell anyone, but get it <a href="/signup">here</a> )</p>
</div>