body {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.ecolux{
  font-size: 35px;
  font-weight: bold;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-div{
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: rgb(67, 4, 4);

}

.padding{
  width: 84%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.title{
  margin-bottom: 0;
  padding-bottom: 0;
}

.title a{
  text-decoration: none;
  color: rgb(67, 4, 4);
}


.navbar-div{
  margin-top: 0;
  padding-top: 0;
  width: 525px;
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar{
  display: flex;
  justify-content: center;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
      display: none;
      position: absolute; /* Position the dropdown absolutely */
      top: 100%; /* Position the dropdown below the parent item */
      left: 0; /* Align the dropdown with the parent item */
      width: 100%; /* Make the dropdown full-width */
      text-align: center; /* Center-align the items */
  }

  .navbar .nav-item:hover .nav-link { /* No need to change this line */
  }

  .navbar .nav-item:hover .dropdown-menu {
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
  }

  .navbar .nav-item .dropdown-menu li {
      display: inline-block; /* Display submenu items horizontally */
      margin: 0;
      padding: 0;
  }
}

.auth{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
#auth-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

#auth-nav a{
  text-decoration: none;
  color: rgb(67, 4, 4);
}

#auth-nav form{
  padding: 0;
  margin: 0;
  color: rgb(67, 4, 4);
}

#auth-nav button{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: rgb(67, 4, 4);
}


.auth nav{
  display: flex;
  flex-direction: row;
  width: 225px;
  justify-content: space-between;
  align-items: center;
}


/* ----------------------------------------------------------------------------------------- */


/* HOMEPAGE */

#logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage-centering{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

/* END of HOMEPAGE */


/* ---------------------------------------------------------------------------------------- */


/* BRANDS LIST PAGE */
.createYourBrand{
  text-decoration: none;
  color: rgb(67, 4, 4);
  border: solid 2px rgb(67, 4, 4);
  border-radius: 8px;
  border-style: inset;
  background-color: rgba(255,255,255,0.4);
  padding: 8px;
  font-size: 24px;
}

.listing{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.creator{
  display: flex;
  justify-content: center;
}

#brands-create{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(67, 4, 4, 0.7);
  width: 450px;
}

.creating-div form{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  height: 520px;
}

#clothing-create{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(67, 4, 4, 0.7);
  width: 450px;
}

#labels{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#brand-div img{
  width: 350px;
  height: 300px;
}

.product-list{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#brand-div{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#brand-div a{
  color: rgb(67, 4, 4);
}

/* END of BRAND LIST PAGE */


/* ---------------------------------------------------------------------------------------- */


/* ERROR PAGES */

.error-div{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(67, 4, 4);
}

.error-div img{
  border: solid 5px rgb(67, 4, 4);
  border-radius: 10px;
}

.error-div a{
  color: rgb(67, 4, 4);
}

/* END OF ERROR PAGES */


/* MEN AND WOMEN LISTINGS */

.clothesimg img{
  border: solid 2px rgb(67, 4, 4);
  border-style: inset;
  border-radius: 10px;
}

.involvedimg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.involvedimg img{
  width: 300px;
}

.contact-div{
  display: flex;
  width: 75%;
  justify-content: space-around;
}

.contact-div div{
  border: solid 2px rgb(67, 4, 4);
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255,255,255,0.4);
}