body {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-div{
  padding-left: 8%;
  padding-right: 8%;
}

.title{
  margin-bottom: 0;
  padding-bottom: 0;
}

.navbar-div{
  margin-top: 0;
  padding-top: 0;
  width: 675px;
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar{
  display: flex;
  justify-content: center;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
      display: none;
      position: absolute; /* Position the dropdown absolutely */
      top: 100%; /* Position the dropdown below the parent item */
      left: 0; /* Align the dropdown with the parent item */
      width: 100%; /* Make the dropdown full-width */
      text-align: center; /* Center-align the items */
  }

  .navbar .nav-item:hover .nav-link { /* No need to change this line */
  }

  .navbar .nav-item:hover .dropdown-menu {
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
  }

  .navbar .nav-item .dropdown-menu li {
      display: inline-block; /* Display submenu items horizontally */
      margin: 0;
      padding: 0;
  }
}

.auth{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.auth nav{
  display: flex;
  flex-direction: row;
  width: 225px;
  justify-content: space-between;
  align-items: center;
}

/* Login form */

