<section>
    <div>
        <a href="/clothing/create">Create your brand!</a>
    </div>
    <div>
        {{#each womenClothes}}
                <div>
                    <img src="{{image}}" alt="{{name}}">
                    <h2>
                        <a href="/clothing/{{_id}}">{{name}}</a>
                        </h2>
                </div>
        {{/each}}
    </div>
</section>