<br>
<section>
    <br>
    <div class="creator">
        <a class="createYourBrand"  href="/clothing/create">Create your clothing piece!</a>
    </div>
    <hr>
    <h5>Below you'll find a list of all clothes that belong to our curated brands and present in or data-base.
    <hr>
    <div class="product-list">
        {{#each clothing}}
        <div  id="brand-div" class="clothesimg">
            <img src="{{image}}" alt="{{name}}">
            <h5>
                <a href="/clothing/{{_id}}">{{name}}</a>
            </h5>
        </div>
        {{/each}}
    </div>
</section>