<section class = "main-div">
    <div class="listing">
        <div>
            <a href="/brands/create">Create your brand!</a>
        </div>
        <div class="product-list">
            {{#each brand}}
            <div id="brand-div">
                <img src="{{image}}" alt="{{title}} logo">
                <h2>
                    <a href="/brands/{{_id}}">{{title}}</a>
                </h2>
            </div>
            {{/each}}
        </div>
    </div>  
</section>
