<section>
    <div>
        <a href="/brands/create">Create your brand!</a>
    </div>
    <div>
        {{#each brand}}
        <div>
            <img src="{{image}}" alt="{{title}} logo">
            <h2>{{title}}</h2>
        </div>
        {{/each}}
    </div>
</section>
