<div class="main-div">
    <div id="brands-create">
        <h2>New Brand entry</h2>
        <div class="creating-div">
            <form action="/brands/create" method="post">
            <label>Image:
            <input type="file" name="brand-logo-image" class="form-control-file" />
            </label>
            <label> Title:
                <input type="text" name="title" />
            </label>
            
            <label> Eco-Rating:
                <input type="number" name="ecoRating" step="any"/>
            </label>
            
            <label> Description:
                <textarea name="description" cols="30" rows="4"> </textarea>
            </label>

            <label> Brand Link:
                <input type="text" name="link"/>
            </label>
            
            <button type="submit"> Save new entry </button>
            </form>
        </div>
        
    </div>
    <div>
    </div>
    
</div>
